.bin
html/
README.html

# bazel
bazel-bin
bazel-out
bazel-testlogs
bazel-zzbot

# database
state.sqlite
state.sqlite-shm
state.sqlite-wal

# doc
doc/build/index.html

# stack
.stack-work
stack.yaml.lock

# vim
*.swo
*.swp
