# Initially copied from https://raw.githubusercontent.com/commercialhaskell/stack/stable/doc/travis-simple.yml
# For more information and other options, see:
#
# https://docs.haskellstack.org/en/stable/travis_ci/
#
# Copy these contents into the root directory of your Github project in a file
# named .travis.yml

# Choose a build environment
dist: xenial

# Do not choose a language; we provide our own build tools.
language: generic

# Caching so the next build will be fast too.
cache:
  directories:
  - $HOME/.stack

# Ensure necessary system libraries are present
addons:
  apt:
    packages:
      - libgmp-dev

before_install:
# Download and unpack the stack executable
- mkdir -p ~/.local/bin
- export PATH=$HOME/.local/bin:$PATH
- travis_retry curl -L https://get.haskellstack.org/stable/linux-x86_64.tar.gz | tar xz --wildcards --strip-components=1 -C ~/.local/bin '*/stack'

install:
# Build dependencies
- stack --no-terminal --install-ghc test --only-dependencies
- stack haddock

script:
# Build the package, its tests and run the tests
- stack --no-terminal test
# run hlint
- curl -sSL https://raw.github.com/ndmitchell/neil/master/misc/travis.sh | sh -s -- hlint .
# Generate documentation from sources
- stack exec haddock -- --html $(find src -name \*.hs) -o html
# Execute on a versioned config
- stack exec zzbot -- configs/config.xml
# Test --print on versioned configs
- stack exec zzbot -- --print configs/config.xml
- stack exec zzbot -- --print configs/examples/kcg.xml
