<config>
  <substitution>
    <entry name="dir" value="/"/>
    <entry name="cmd" value="ls"/>
  </substitution>
  <builder name="$[cmd] builder">
    <shell command="$[cmd] $[dir]"/>
    <shell workdir="/etc" command="pwd"/>
    <setProperty property="home" value="${HOME}"/>
    <shell command="echo «home»"/>
    <!-- Let's build 'home' with concatenation: -->
    <setProperty property="home" value="/home"/>
    <setProperty property="home" value="«home»/${USER}"/>
    <shell command="echo «home»"/>
    <!-- Let's build 'home' with a command -->
    <setProperty property="homeprop" command="echo ${HOME}"/>
    <shell command="echo «homeprop»"/>
  </builder>
</config>
