<config>
  <substitution>
    <entry name="dir" value="/"/>
    <entry name="cmd" value="ls"/>
  </substitution>
  <builder name="$[cmd] builder">
    <shell command="$[cmd] $[dir]"/>
    <shell workdir="/etc" command="pwd"/>
    <setProperty property="prop" value="foobar"/>
    <shell command="echo ${HOME}"/>
  </builder>
</config>
